@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	font-family: Raleway, sans-serif;
}

html,
body {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
}
a,
a:hover,
a:active,
a:focus,
button:focus,
div:focus,
input:focus,
textarea:focus {
	outline: none;
	text-decoration: none;
}

a:active,
a:focus {
	color: #c77dcf;
}

p {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;
	overflow: hidden;
}
/* =============================== */

.header {
	display: flex;
	flex: 1 1 auto;
	align-items: center;
	min-width: 100%;
	min-height: 8vw;
	background-color: #f4f4f4;
}

.header__nav {
	margin: 0 5%;
	padding: 15px 0;
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav__list:nth-child(2) .nav__item:nth-child(3) .nav__dropdown_content {
	width: 240px;
}

.nav__list:nth-child(2) .nav__item,
.nav__list:nth-child(3) .nav__item {
	margin: 0 15px;
	position: relative;
}

.purple-color {
	color: #c34bd1;
}

.nav__item {
	position: relative;
}

.nav__item p {
	color: #b397b6;
	font-size: 24px;
}

.nav__dropdown_content {
	backdrop-filter: blur(4px) saturate(100%) contrast(55%) brightness(130%);
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
	font-size: 0.9em;
	display: flex;
	flex-direction: column;
	padding: 15px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 15px);
	border-radius: 10px;
	transition: opacity 0.3s;
	pointer-events: none;
	transition-delay: 0.2s;
	opacity: 0;
	line-height: 1.9em;
}

.nav__dropdown_content i {
	padding-right: 5px;
}

body .arrow-down {
	font-size: 0.8em;
}

.nav__item:hover .nav__dropdown_content {
	opacity: 1;
	pointer-events: all;
}

.nav__link {
	font-size: calc((33vw - 30rem) / 25 + 1rem);
	align-items: center;
}

body .home {
	position: relative;
	color: #c34bd1;
	font-size: calc((50vw - 30rem) / 25 + 1rem);
}
/* 
.nav__dropdown_content::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #ff7a00;
	top: 0;
	left: 50%;
	transform-origin: 0 0;
	transform: rotate(45deg) translate(-50%, -50%);
} */

.nav__dropdown_link {
	text-decoration: none;
	color: #fefefe;
	white-space: nowrap;
	transition: all 0.3s;
	text-transform: capitalize;
	font-size: 20px;
}

.nav__dropdown_link:hover {
	transform: translateX(10px);
}

.nav__dropdown_link:not(:last-child) {
	margin-bottom: 20px;
}

.nav__icon {
	color: #c77dcf;
	font-size: 25px;
	transition: all 0.3s ease 0s;
}

.nav__icon:hover {
	color: #c34bd1;
}

.magnifyText {
	transition: transform 0.15s ease-in-out;
}

.magnifyText:active {
	transform: scale(0.9);
}

/* ================================== */

.intro {
	min-height: 30vw;
	min-width: 100%;
	background: url(/static/images/default.png) center center/cover no-repeat;
	background-size: cover;
}

/* ================================== */

.main {
	flex: 1 1 auto;
	min-height: 100%;
	min-width: 100%;
}
.main__container,
.category__detail_container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(1vw, 15vw));
	grid-template-rows: 1fr;
	grid-column-gap: 5vw;
	grid-row-gap: 10px;
	justify-content: center;
}

.main__container .category {
	height: 320px;
	padding-bottom: 14px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: #fff 1px solid;
	border-radius: 5px;
	transition: border 0.3s ease 0s;
}

.main__title {
	margin: 3vw;
	text-align: center;
	font-size: calc((50vw - 30rem) / 25 + 1rem);
	color: #c77dcf;
}

.main__product {
	border: #fff 1px solid;
	border-radius: 5px;
	min-width: 15vw;
	min-height: 25vw;
	transition: border 0.3s ease 0s;
}

.main__product:hover,
.category:hover {
	border-color: rgb(204, 204, 204);
	border-width: 1px;
}

.main__image {
	position: relative;
}

.main__image img {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.signature {
	font-weight: 500;
	display: inline-block;
	border-radius: 5px;
	position: absolute;
	height: 2.2vw;
	padding: 10px;
}

.notAvailable {
	opacity: 0.8;
	top: 120px;
	left: 30px;
	height: 50px;
	font-size: 1.5em;
	border-radius: 2px;
	transform: rotate(-45deg);
	background-color: lightgrey;
	display: flex;
	align-items: center;
}

.ship {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	background-color: #00fc00;
	top: 10px;
	left: 0;
	font-size: calc((20vw - 20rem) / 25 + 1rem);
}

.signature span {
	font-size: 1.2em;
}

.sale {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	font-size: calc((20vw - 20rem) / 25 + 1rem);
	background-color: rgb(255, 92, 92);
	bottom: 10px;
	right: 0px;
}

.main__del_price {
	font-size: calc((27vw - 20rem) / 25 + 1rem);
}

del {
	color: rgb(255, 92, 92);
}

.main__product_content {
	margin: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.margin {
	margin: 10px 0px;
}

.main__rating {
	display: flex;
	width: 5vw;
	justify-content: space-between;
	align-items: center;
	font-size: calc((22vw - 20rem) / 25 + 1rem);
}

.fa-thumbs-up {
	color: #00fc00;
}

.fa-thumbs-down {
	color: #ff0000;
}

.main__product_title {
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-size: calc((22vw - 20rem) / 25 + 1rem);
}

.main__product_title a {
	font-weight: 600;
}

.borderLeftRight {
	font-weight: 400;
	display: inline-block;
	position: relative;
	color: #000000;
	transition: all 0.3s ease 0s;
}

.borderLeftRight:hover {
	color: #c34bd1;
}

.borderLeftRight::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: -5px;
	left: 0;
	background-color: #c77dcf;
	transform-origin: bottom right;
	transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.main__price {
	display: flex;
	justify-content: flex-end;
	font-size: calc((35vw - 20rem) / 25 + 1rem);
	font-weight: 400;
}

.main__product_button {
	display: flex;
	justify-content: center;
}

.main__block_first {
	height: 43px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.main__block_second {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	height: 8vw;
}

.main__product_description {
	font-size: calc((20vw - 20rem) / 25 + 1rem);
	line-height: 1.2em;
	color: rgb(87, 87, 87);
}

.main__block_third {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main__block_third .fa-heart {
	font-size: calc((26vw - 20rem) / 25 + 1rem);
	color: #ff9999;
	transition: all 0.3s ease 0s;
}

.main__block_third .fa-heart:hover {
	color: rgb(255, 0, 0);
}

.main__block_third form {
	width: 0;
	display: contents;
}

.main__block_third .product__detail {
	width: 20% !important;
}

.main__third_heart_button {
	background-color: #fff;
}

.main__pagination {
	width: 100%;
	font-size: 1.3em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main__pagination_arrow {
	padding: 20px;
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	transition: all 0.3s ease 0s;
}

.main__pagination_arrow:hover {
	background-color: #c34bd1;
	color: #fff;
}

.main__pagination_start {
	margin-right: 5px;
}

.button {
	cursor: pointer;
	padding: 10px;
	background-color: #58ff58;
	border-radius: 5px;
	font-size: calc((25vw - 20rem) / 25 + 1rem);
	transition: all 0.3s ease 0s;
}

.button:hover {
	background-color: #00fc00;
}

.fillButtonBorder {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
	border: 1px solid;
}

.overlayLeftBtn {
	width: 10vw;
	cursor: pointer;
	padding: 10px 0px;
	background-color: hsl(294, 46%, 65%);
	border-radius: 6px;
	position: relative;
	overflow: hidden;
}

.added {
	background-color: #00fc00;
}

.overlayLeftBtn span {
	color: hsl(0, 0%, 0%);
	font-size: calc((26vw - 20rem) / 25 + 1rem);
	position: relative;
	z-index: 1;
	transition: color 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.overlayLeftBtn::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	border-radius: 6px;
	transform: translate(-101%, -50%);
	width: 100%;
	height: 100%;
	background-color: hsl(294, 30%, 55%);
	transition: transform 0.6s cubic-bezier(0.53, 0.21, 0, 1);
}

.overlayLeftBtn:hover span {
	color: hsl(0, 0%, 0%);
}

.overlayLeftBtn:hover::before {
	transform: translate(0, -50%);
}

.wishlist_page-add-to-cart {
	width: 190px;
	margin: 5px;
}

.wishlist_page-view {
	width: 190px !important;
	margin: 5px;
}

.delete {
	background-color: rgb(255, 118, 118);
}

.delete span {
	color: hsl(0, 0%, 25%);
}

.delete::before {
	background-color: #ff0000;
}

.not__available_btn {
	padding: 10px;
	cursor: default;
	color: white;
	background-color: rgb(97, 97, 97);
}

.not__available_btn:hover {
	background-color: #000;
}

.not__available_btn span {
	font-size: calc((26vw - 20rem) / 25 + 1rem);
}

.pointer {
	cursor: pointer;
}

.snapLeftBtn {
	cursor: pointer;
	text-align: center;
	width: 190px;
	padding: 12px 24px;
	background-color: hsl(123, 100%, 65%);
	position: relative;
	border-radius: 6px;
	color: hsl(0, 0%, 0%);
	overflow: hidden;
}

.snapLeftBtn::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 6px;
	transform: translateX(-101%);
	background: #00fc00;
	transition: transform 0.25s ease-in;
}

.snapLeftBtn:hover::before {
	transform: translateX(0);
}

.snapLeftBtn span {
	position: relative;
	font-size: calc((20vw - 20rem) / 25 + 1rem);
	z-index: 1;
	display: block;
	transition: color 0.1s 0.15s ease-in;
}

.snapLeftBtn:hover span {
	animation: animButtonSpan 0.4s;
}

@keyframes animButtonSpan {
	0% {
		transform: translateX(0);
		opacity: 1;
	}

	35% {
		transform: translateX(20px);
		opacity: 0;
	}

	50.001% {
		transform: translateX(-20px);
	}

	60% {
		transform: translateX(0px);
	}
}

/* ========================================== */

.footer {
	min-width: 1vw;
	min-height: 1vh;
	margin-top: 60px;
	background-color: rgb(27, 27, 56);
}

.footer p,
.footer a {
	font-size: calc((24vw - 20rem) / 25 + 1rem);
	color: #fff;
	border: none;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	margin: 0px 2vw;
	padding: 5vh 0;
}

.footer__block {
	display: flex;
	flex-direction: column;
}

.footer__block_header {
	margin-bottom: 10px;
}

.footer__block_content {
	font-size: calc((19vw - 20rem) / 25 + 1rem);
	display: flex;
	flex-direction: column;
	width: 100%;
}

.footer__block_content a {
	display: flex;
	align-items: center;
	margin: 4px 0;
	font-size: 1em;
}

.footer__block_content span {
	color: rgba(255, 255, 255, 0.6);
}

.footer__block_content i {
	cursor: default;
	margin-right: 15px;
	display: flex;
	font-size: 1.4em;
	color: white;
}

/* CART  */

.cart-wishlist__product {
	border: #fff 1px solid;
	border-radius: 5px;
	width: 70vw;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	transition: border 0.3s ease 0s;
}

.cart-wishlist__product .main__image img {
	border-radius: 5px 0 0 5px;
}

.cart-wishlist__product:hover {
	border-color: #b8b8b8;
	border-width: 1px;
}

.cart-wishlist__content {
	margin: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.cart-wishlist__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cart-wishlist__product-first {
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.cart-wishlist__product-first .main__product_description {
	margin: 30px 0;
}

.cart-wishlist__product-second {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.cart-wishlist__product-second form {
	width: auto;
}

.cart-wishlist__product-second .main__price {
	display: flex;
	align-items: center;
	font-size: calc((35vw - 20rem) / 25 + 1rem);
	font-weight: 400;
}

.cart-wishlist__product-second .main__price .main__del_price {
	margin: 0px 10px;
}

.cart-wishlist__product-third {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: end;
}

.cart-wishlist__form form {
	width: 100%;
}

.cart-wishlist__form button {
	padding: 12px 24px;
	width: 190px;
	height: auto;
}

.cart-wishlist__form .overlayLeftBtn span {
	font-size: calc((20vw - 20rem) / 25 + 1rem);
}

.cart-wishlist__order {
	border: 1px solid #b8b8b8;
	border-radius: 5px;
	padding: 10px;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
	width: 70vw;
}

.cart-wishlist__order .delete {
	margin-right: 18px;
}

.cart-wishlist__checkout {
	margin-right: 10px;
}

.cart-wishlist__order form {
	width: auto;
}

.cart-wishlist__product-delete {
	background-color: #dcdada;
	border-radius: 100% 5px 100% 100%;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	right: 0;
	font-size: calc((46vw - 20rem) / 25 + 1rem);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease 0s;
}

.cart-wishlist__product-delete:hover {
	background-color: #ff0000;
}

.cart-wishlist__product-delete span {
	top: -3px;
	width: 30px;
	height: 30px;
	position: absolute;
	color: #000;
	transition: color 0.3s ease 0s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cart-wishlist__product-delete span:hover {
	color: #fff;
}

.cart-wishlist__product_block-total {
	border: 1px solid #b8b8b8;
	border-radius: 5px;
	background-color: #f4f4f4;
	height: 40px;
	padding-right: 10px;
	display: flex;
	width: 70vw;
	justify-content: flex-end;
	align-items: center;
	font-size: calc((28vw - 20rem) / 25 + 1rem);
}

.cart-wishlist__product-total {
	display: flex;
	justify-content: space-between;
	width: 20vw;
}

.cart__product-qty {
	align-items: center;
	display: flex;
	width: 5vw;
	justify-content: space-between;
}

.add-qty {
	background-color: #77ff77;
}

.add-qty::before {
	background-color: #00fc00;
}

.delete-qty {
	background-color: rgb(255, 118, 118);
}

.delete-qty::before {
	background-color: #ff0000;
}

.qty-properties-btns {
	text-align: center;
	height: 20px;
	width: 20px;
	padding: 0;
}

/* CATEGORY DETAIL */
.category__detail_container {
	border-left: 1px solid #b8b8b8;
}
/* PRODUCT DETAIL */
/* Product section */

.product__container {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 95px 125px;
}

.product__first_block img {
	border-radius: 10px;
	width: 27vw;
	height: 27vw;
	object-fit: cover;
}

.product__first_block {
	margin-right: 40px;
	width: 27vw;
	height: 27vw;
}

.product__first_block .main__block_third {
	justify-content: space-around;
}

.product__second_block {
	width: 750px;
	padding: 25px 0;
}

.product__second_block > h1 {
	font-size: calc((35vw - 20rem) / 25 + 1rem);
	text-align: center;
}

p {
	font-size: calc((18vw - 20rem) / 25 + 1rem);
	line-height: 1.2em;
	border-bottom: 1px solid #b8b8b8;
}

.product__price {
	display: flex;
	align-items: center;
}

.prod_detail_price {
	margin-left: 40px;
	font-size: 2em;
	position: unset;
}

.padding {
	padding: 20px 0px;
	font-weight: 400;
	width: 100%;
}

.padding:nth-child(8) {
	font-weight: normal;
}

.product__second_block .main__product_button {
	justify-content: end;
}

.product__second_block .main__rating{
    justify-content: flex-start;
}

.product__second_block .main__rating i, span{
    margin: 0px 5px;
}

.product__buttons_block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 500px;
}

.product__buttons_block div {
	margin: 25px;
}

.product__buttons_block button {
	width: 230px;
}

body .background {
	font-size: calc((30vw - 20rem) / 25 + 1rem);
	background-color: rgb(88, 255, 88);
	height: 30px;
	border-radius: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 9vw;
}

/* Comment section */

.comment {
	margin: 40px 125px 95px 125px;
}

.comment__user {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.comment__user label {
	font-size: calc((22vw - 20rem) / 25 + 1rem);
}

.comment__block {
	display: flex;
	flex-direction: column;
}

.comment__block_header h1 {
	font-size: calc((25vw - 20rem) / 25 + 1rem);
	text-align: center;
}

.comment__head {
	display: flex;
	align-items: center;
}

.image img {
	width: 50px;
	height: 50px;
	border-radius: 40px;
}

.comment__head h3 {
	font-size: calc((24vw - 20rem) / 25 + 1rem);
	padding: 0 15px;
	border-right: 1px solid #b8b8b8;
}

.comment__h1 {
	padding: 0 15px;
	font-size: calc((21vw - 20rem) / 25 + 1rem);
	color: #b8b8b8;
	font-weight: 400;
}

.comment__content {
	margin-bottom: 55px;
}

.comment__content p {
	padding: 25px 0 25px 90px;
	font-size: calc((20vw - 20rem) / 25 + 1rem);
}

.comment__block .field__container {
	margin: 0 0 20px 0;
}

.comment__elements {
	display: flex;
	align-items: center;
	margin-top: 20px;
	width: 200px;
	justify-content: space-between;
}

.comment__elements a {
	font-size: calc((20vw - 20rem) / 25 + 1rem);
}

.reply {
	margin: 40px 0 0 100px;
}

/* REGISTRATION FIELD */

.fields {
	width: 100%;
}

.field__container {
	margin: 95px 125px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.field__button {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}

.field__button a {
	color: #c34bd1;
}

form {
	width: 40vw;
}

.form__change {
	width: 230px;
}

form > p {
	display: flex;
	flex-direction: column;
	border: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="search"],
input[type="number"],
select,
textarea {
	font-size: calc((22vw - 20rem) / 25 + 1rem);
	resize: none;
	outline: none;
	border: 1px solid #c77dcf;
	border-radius: 5px;
	padding: 10px;
	margin: 20px;
}

.helptext {
	display: none;
}

/* BREADCRUMBS */

.breadcrumb {
	margin: 2vw;
	background-color: #f4f4f4;
	height: 3vw;
	display: flex;
	align-items: center;
	border-radius: 10px;
}

.breadcrumb__ol {
	display: flex;
	font-size: calc((22vw - 20rem) / 25 + 1rem);
}

.breadcrumb__ol li {
	padding: 0 25px;
}

ol {
	list-style: none;
}

.breadcrumb li:nth-child(n + 2)::marker {
	content: ">";
}

/* SIDEBAR */

.sidesearch {
	float: left;
}

.sidesearch__container {
	margin: 0 20px;
}

.sidesearch__container .margin {
	margin: 20px 0;
}

.sidesearch__container input[type="search"] {
	margin: 0;
	width: 82%;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	border-right: none;
}

.sidesearch__container .snapLeftBtn {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.sidesearch__container form:nth-child(1) {
	display: flex;
}

.sidesearch__buttons {
	margin-top: 20px;
	padding-top: 20px;
	display: flex;
	border-top: 1px solid #b8b8b8;
	justify-content: space-between;
	align-items: center;
}

.sidesearch__buttons .overlayLeftBtn {
	width: 8vw;
}

.search-btn {
	width: 100px;
}

.filter__container .padding {
	border: none;
	font-size: 1.2em;
	font-weight: 500;
}

.filter__container p {
	border-top: 1px solid #b8b8b8 !important;
	margin-top: 20px;
}
.errorlist,
.nonfield {
	color: red;
	float: right;
	list-style: none;
}

hr {
	margin-top: 25px;
	background-color: #bebebe;
	height: 1px;
}

.checkbox {
	--background: #fff;
	--border: #d1d6ee;
	--border-hover: #bbc1e1;
	--border-active: #c782d5;
	--tick: #fff;
	width: 100%;
	display: flex;
	align-items: center;
	font-size: calc((20vw - 20rem) / 25 + 1rem);
	position: relative;
}
.checkbox input,
.checkbox svg {
	width: 1.2vw;
	height: 1.2vw;
	display: block;
}
.checkbox input {
	-webkit-appearance: none;
	-moz-appearance: none;
	position: relative;
	outline: none;
	background: var(--background);
	border: none;
	margin-right: 15px;
	padding: 0;
	cursor: pointer;
	border-radius: 4px;
	transition: box-shadow 0.3s;
	box-shadow: inset 0 0 0 var(--s, 1px) var(--b, var(--border));
}
.checkbox input:hover {
	--s: 2px;
	--b: var(--border-hover);
}
.checkbox input:checked {
	--b: var(--border-active);
}
.checkbox svg {
	pointer-events: none;
	fill: none;
	stroke-width: 2px;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: var(--stroke, var(--border-active));
	position: absolute;
	top: 0;
	left: 0;
	width: 1.2vw;
	height: 1.2vw;
	transform: scale(var(--scale, 1)) translateZ(0);
}
.checkbox.mainput:checked {
	--s: 2px;
	transition-delay: 0.4s;
}
.checkbox.path input:checked + svg {
	--a: 16.1 86.12;
	--o: 102.22;
}
.checkbox.path svg {
	stroke-dasharray: var(--a, 86.12);
	stroke-dashoffset: var(--o, 86.12);
	transition: stroke-dasharray 0.6s, stroke-dashoffset 0.6s;
}

/* PROFILE  */

.profile {
	min-height: 100%;
}
.profile__container {
	display: flex;
}
.profile__first_block {
	position: relative;
	padding: 127px;
	padding-top: 200px;
	background-color: #f4f4f4;
}
.profile__image {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	top: 15px;
	right: -60px;
}
.profile__image img {
	width: 120px;
	height: 120px;
	border-radius: 90px;
}
.profile__name {
}
.profile__links {
	display: flex;
	flex-direction: column;
	line-height: 2.5em;
}
.profile__second_block {
	padding: 127px;
	padding-top: 200px;
	line-height: 2.5em;
}
.profile__content {
}
.profile__email {
}
.profile__address {
}
.profile__change_password {
}

/* Messages Django Framework */

.message {
	display: flex;
	position: fixed;
	z-index: 100;
	align-items: center;
	width: 28vw;
	height: 5vw;
	border: 1px solid #b8b8b8;
	border-radius: 10px 0px 0px 10px;
	font-size: calc((33vw - 30rem) / 25 + 1rem);
	justify-content: center;
	margin: 0 auto;
	bottom: 20px;
	right: 0;
}

.message_close {
	cursor: pointer;
	position: absolute;
	color: #000;
	font-size: calc((60vw - 30rem) / 25 + 1rem);
	top: 0px;
	right: 10px;
	transition: color 0.3s ease 0s;
}

.message_close:hover {
	color: #ff0000;
}

.success {
	background-color: rgb(42 255 0 / 50%);
}

.error {
	background-color: rgb(255 0 0 / 50%);
}

/* Responsive design */

@media screen and (max-width: 768px) {
	.sidesearch {
		display: none;
	}

	.category__detail_container {
		border: none;
	}
}
