<footer class="footer">
	<div class="footer__container">
		<div class="footer__block">
			<div class="footer__block_header">
				<a href="{% url 'categories' %}" class="borderLeftRight magnifyText"
					>Каталог</a
				>
			</div>
		</div>
		<div class="footer__block">
			<div class="footer__block_header">
				<a href="" class="borderLeftRight magnifyText">Магазин</a>
			</div>
			<div class="footer__block_content">
				<a href="{% url 'about' %}"
					><span class="borderLeftRight magnifyText">О нас</span></a
				>
				<a href=""
					><span class="borderLeftRight magnifyText">Отзывы</span></a
				>
			</div>
		</div>
		<div class="footer__block">
			<div class="footer__block_header">
				<a href="" class="borderLeftRight magnifyText">Помощь</a>
			</div>
			<div class="footer__block_content">
				<a href="" class="borderLeftRight magnifyText"
					><span class="borderLeftRight magnifyText"
						>Условия оплаты</span
					></a
				>
			</div>
		</div>
		<div class="footer__block">
			<div class="footer__block_header">
				<p>Связаться с нами:</p>
			</div>
			<div class="footer__block_content">
				<a href=""
					><i class="fab fa-instagram"></i
					><span class="borderLeftRight magnifyText">Instagram</span></a
				>
			</div>
			<div class="footer__block_content whatsapp">
				<a href=""
					><i class="fab fa-whatsapp"></i
					><span class="borderLeftRight magnifyText">WhatsApp</span></a
				>
			</div>
			<div class="footer__block_content">
				<a href=""
					><i class="far fa-envelope"></i
					><span class="borderLeftRight magnifyText"
						>yandex.ru@yandex.ru</span
					></a
				>
			</div>
			<div class="footer__block_content">
				<a href=""
					><i class="fas fa-phone-alt"></i
					><span class="borderLeftRight magnifyText">+88005553535</span></a
				>
			</div>
		</div>
		<div class="footer__block">
			<div class="footer__block_header">
				<p>График и место работы:</p>
			</div>
			<div class="footer__block_content">
				<p>С 9:00 до 21:00 (без выходных)</p>
				<p>ул. Мира, 19</p>
			</div>
		</div>
	</div>
</footer>
